[submodule "source"]
	path = source
	url = git@bitbucket.org:jskswamy/octopress.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = git@github.com:jskswamy/foxslide.git
[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octopress-themes/constant-cockles.git
